<href>
  <a href="/gym/ad-view/<%= @session.teacher_id %>">back</a>
  <br>
  <a href="/gym/ad-close/<%= @session.id %>">Close/Delete Class</a>
  <br>
  <p><%= @session.room() %></p>
  <p><%= @session.type() %></p>
  <p><%= @session.event_date %></p>
  <p><%= @session.event_time %></p>
  <br>
</href>
<href>
  <p><% for member in @members %></p>
  <p><%= member.name %></p>
  <p><%= @session.member_check(member.id) %></p>
  <p><%= member.info %></p>
  <form action="/gym/ad-member/<%= member.id %>" method="get">
    <input type="hidden" name="session_id" value="<%=@session.id%>">
    <input type="submit" value="Update Details">
  </form>
  <br>
  <p><% end %></p>
</href>


<!-- @session.member_check(member) -->
