<href>
  <a href="/gym/ad-view/<%= @session.teacher_id %>">back</a>
  <br>
  <p><%= @session.room() %></p>
  <p><%= @session.type() %></p>
  <p><%= @session.event_date %></p>
  <p><%= @session.event_time %></p>
  <br>
</href>
<href>
  <p><% for member in @members %></p>
  <p><%= member.name %></p>
  <p><%= @session.member_check(member.id) %></p>
  <p><%= member.info %></p>
  <p><% end %></p>
</href>


<!-- @session.member_check(member) -->
