<href class="admenu-header">
  <h2>Teacher Menu</h2>
  <a href="/gym">back</a>
</href>
<br>
<href>
  <li>
    <a href="/gym/schedule/<%=@teacher.id%>">View Class Schedule</a>
  </li>
  <li>
    <a href="/gym/<%=@teacher.id%>">Create Class</a>
  </li>
  <li>
    <a href="/gym/<%=@teacher.id%>">Go To Your Classes</a>
  </li>
  <li>
    <a href="/gym/<%=@teacher.id%>">News & Events</a>
  </li>
  <li>
    <a href="/gym">Exit</a>
  </li>

</href>
<h2>test <%= @teacher %></h2>
