<div class="overview">
  <form action="/gym" method="get">
    <input id="button" type="submit" value="Back">
  </form>
  <div class="menu">
    <div class="admenu-header">
      <h2>Teacher Menu</h2
        <br><br>
        <h4><%= @teacher.name %></h4>
        <br>
        <br>
        <div class="navigation">
          <li>
            <a href="/gym/ad-schedule/<%=@teacher.id%>">View Full Schedule</a>
          </li>
          <li>
            <a href="/gym/ad-create/<%=@teacher.id%>">Create Class</a>
          </li>
          <li>
            <a href="/gym/ad-view/<%=@teacher.id%>">Go To Your Classes</a>
          </li>
          <li>
            <a href="/gym/ad-news/<%=@teacher.id%>">News & Events</a>
          </li>
          <li>
            <a href="/ad-gym">Exit</a>
          </li>
        </div>
      </div>
    </div>
  </div>
