<div class="overview">

  <form action="/gym/ad-menu" method="get">
    <input type="hidden" name="id" id="id" value="<%= @teacher.id %>">
    <input id="button" type="submit" value="Back">
  </form>
</div>
      <br>
<div class="menu">
    <h2>Create New Class</h2>
    <br>
  <form action="/gym/ad-new/<%=@teacher.id%>" method="post">

    <label for="session-type">Class Type: </label><br>
    <% for type in @types %>
      <input type="radio" id="type" name="type" value="<%= type.id %>"/>
      <label id="tahoma" for="type"><%= type.title %></label><br>
    <% end %>
    <br>
    <label for="event_date">Date: </label>
      <input type="date" name="event_date" id="event_date"/>
    <label for="event_time">Time: </label>
      <input type="time" name="event_time" id="event_time"/><br>
    <br>
    <label for="room_id">Room: </label><br>
    <% for room in @rooms %>
      <p></p><input type="radio" name="room_id" id="room_id" value="<%= room.id %>"/>
      <label id="tahoma" for="room_id"> <%= room.title %></label><br>
    <% end %>
  <br>
    <label for="status">Set Status</label>
    <select name="status" id="status">
      <option value="open">Open</option>
      <option value="closed">Closed</option>
      <option value="full">Full</option>
    </select><br>
  <br>
    <input id="button" type="submit" value="Create Class"/>
  </form>
</div>
<br>
