<href class="admin-header">
  <h2>Create New Class</h2>
  <a href="/gym/ad-menu/<%= @teacher.id %>">back</a>
</href>
<br>
<href>
  <form action="/gym/ad-new/<%=@teacher.id%>" method="post">
    <label for="session-type">Class Type: </label>
    <% for type in @types %>
      <input type="radio" id="type" value="<%= type.id %>"/>
      <label for="type"><%= type.title %></label><br>
    <% end %>
    <label for="session_date">Date: </label>
      <input type="date" id="event_date"/>
    <label for="session_time">Time: </label>
      <input type="time" id="event_time"/><br>
    <label for="room-id">Room: </label>
    <% for room in @rooms %>
      <input type="radio" id="room_id" value="<%= room.id %>"/>
      <label for="room_id"> <%= room.title %></label><br>
    <% end %>
    <label for="status">Set Status</label>
    <select name="status" id="status">
      <option value="open">Open</option>
      <option value="closed">Closed</option>
      <option value="full">Full</option>
    </select><br>
    <input type="submit" value="Create Class"/>
  </form>
</href>
<br>
<h2>test</h2>
