
<div class="overview">
  <form action="/gym/ad-menu" method="get">
    <input type="hidden" name="id" id="button" value="<%= @teacher.id %>">
    <input type="submit" value="Back" id="button">
  </form>
  <form action="/gym/ad-create/<%= @teacher.id %>" method="get">
    <input type="submit" value="Add a Class" id="button">
  </form>
  <form action="/gym/ad-view/<%= @teacher.id %>" method="get">
    <input type="submit" id="button" value="View Your Classes">
  </form>
</div>
<div class="menu" class="schedue">
  <br>
  <h2>Class Schedule</h2>
  <br>
  <table>
    <thead>
      <th>Date</th>
      <th>Time</th>
      <th>Type</th>
      <th>Room</th>
      <th>Teacher</th>
    </thead>
    <tbody>
      <% for session in @sessions %>
      <tr>
        <td><%= session.event_date %></td>
        <td><%= session.event_time %></td>
        <td><%= session.type().title %></td>
        <td><%= session.room().title %></td>
        <td><%= session.teacher().name %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <br>
</div>
<div>

</div>
