<href class="admin-header">
  <h2>Class Schedule</h2>
  <form action="/gym/ad-menu" method="get">
    <input type="hidden" name="id" id="id" value="<%= @teacher.id %>">
    <input type="submit" value="Back">
  </form>
  <form action="/gym/ad-create/<%= @teacher.id %>" method="get">
    <input type="submit" value="Add a Class">
  </form>
  <form action="/gym/ad-view/<%= @teacher.id %>" method="get">
    <input type="submit" value="View Your Classes">
  </form>

</href>
<br>
<href>
  <p><% for session in @sessions %></p>
  <p><li><%= session.event_date %></li></p>
  <p><li><%= session.event_time %></li></p>
  <p><li><%= session.type() %></li></p>
  <p><li><%= session.room() %></li></p>
  <p><% end %></p>
</href>
<href>

<h2>test</h2>
</href>
