<href>
  <p><%= @teacher.name %></p>
  <br>
  <a href="/gym/admin">back</a>
</href>
<br>
<href>
  <p><% for session in @sessions %></p>
    <p>Date: <%= session.event_date %></p>
    <p>Time: <%= session.event_time %></p>
    <p>size: <%= session.member_id.count %></p>
    <p>status: <%= session.status %></p>
    <br>
    <a href="/gym/ad-push/<%= session.id %>">Add Person</a>
    <a href="/gym/ad-details/<%= session.id %> ">View Class</a>
  <p><% end %></p>
</href>
