<href class="admenu-header">
  <h2>Your Yoga</h2>
  <a href="/gym">back</a>
</href>
<br>
<href>
  <li>
    <a href="/gym/mem-schedule/<%=@member.id%>">View Full Schedule</a>
  </li>
  <li>
    <a href="/gym/mem-edit/<%=@member.id%>">Edit Your Details</a>
  </li>
  <li>
    <a href="/gym/membership/<%=@member.id%>">Update Your Membership Credits</a>
  </li>
  <li>
    <a href="/gym/mem-view/<%=@member.id%>">Go To Your Booked Classes</a>
  </li>
  <li>
    <a href="/gym/mem-news/<%=@member.id%>">News & Events</a>
  </li>
  <li>
    <a href="/gym">Exit</a>
  </li>

</href>
